h1 {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    height: 100%;
}

.header {
    background-color: #ffffff;
    height: 7.5%;
}

.mainbody {
    height: 50%
}

.profile {
    height: 256px;
}

body, html, .container-fluid {
    height: 100%;
}